<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.xjtu.customviews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PieViewActivity" />
        <activity
            android:name=".activity.CheckViewActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".activity.DrawTextActivity" />
        <activity android:name=".activity.GorgeousLoadingViewActivity" />
        <activity android:name=".activity.PathViewActivity" />
        <activity android:name=".activity.BezierCurveActivity" />
        <activity android:name=".activity.PathMeasureActivity" />
        <activity android:name=".activity.SearchViewActivity" />
        <activity android:name=".activity.ZoomImageViewActivity"></activity>
    </application>

</manifest>